<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

   <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="funcionario.nome" name="nome" required placeholder="Informe o nome.">
   </mat-form-field>

   <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="funcionario.cpf" name="cpf" required placeholder="Informe o CPF." mask="000.000.000-00">
   </mat-form-field>

   <mat-form-field>
      <mat-label>RG</mat-label>
      <input matInput [(ngModel)]="funcionario.rg" name="rg" required placeholder="Informe o RG." mask="00.000.000-0">
   </mat-form-field>

   <mat-form-field>
      <mat-label>Endereço</mat-label>
      <textarea matInput [(ngModel)]="funcionario.endereco" name="endereco" placeholder="Informe o endereço." rows="4"></textarea>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Telefone</mat-label>
      <mat-icon matPrefix>contact_phone</mat-icon>
      <input matInput [(ngModel)]="funcionario.telefone" name="telefone" required placeholder="Informe o telefone.">
   </mat-form-field>

   <mat-form-field>
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>contact_mail</mat-icon>
      <input type="email" matInput [(ngModel)]="funcionario.email" name="email"placeholder="Informe o email.">
   </mat-form-field>

   <mat-form-field>
    <mat-label>Data de nascimento</mat-label>
    <input name="data_nascimento" matInput [(ngModel)]="funcionario.data_nascimento" [matDatepicker]="data_nascimento" required>
    <mat-datepicker-toggle matSuffix [for]="data_nascimento"></mat-datepicker-toggle>
    <mat-datepicker #data_nascimento></mat-datepicker>
 </mat-form-field>

 <mat-form-field>
   <mat-label>Função</mat-label>
   <input matInput [(ngModel)]="funcionario.funcao_area" name="funcao_area" required placeholder="Informe a função.">
 </mat-form-field>

   <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>