<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
   <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput [(ngModel)]="reserva.codigo" name="codigo" readonly>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Data de entrada</mat-label>
      <input name="dt_entrada_reserva" matInput [(ngModel)]="reserva.dt_entrada_reserva"
         [matDatepicker]="dt_entrada_reserva">
      <mat-datepicker-toggle matSuffix [for]="dt_entrada_reserva"></mat-datepicker-toggle>
      <mat-datepicker #dt_entrada_reserva></mat-datepicker>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Data de saída</mat-label>
      <input name="dt_saida_reserva" matInput [(ngModel)]="reserva.dt_saida_reserva" [matDatepicker]="dt_saida_reserva">
      <mat-datepicker-toggle matSuffix [for]="dt_saida_reserva"></mat-datepicker-toggle>
      <mat-datepicker #dt_saida_reserva></mat-datepicker>
   </mat-form-field>

   <mat-form-field [ngClass]="{'invisible': isreserva}">
      <mat-label>Hora de entrada</mat-label>
      <input name="hora_entrada" matInput [(ngModel)]="reserva.hora_entrada" [matDatepicker]="hora_entrada">
      <mat-datepicker-toggle matSuffix [for]="hora_entrada"></mat-datepicker-toggle>
      <mat-datepicker #hora_entrada></mat-datepicker>
   </mat-form-field>

   <mat-form-field [ngClass]="{'invisible': isreserva}">
      <mat-label>Hora de saída</mat-label>
      <input name="hora_saida" matInput [(ngModel)]="reserva.hora_saida" [matDatepicker]="hora_saida">
      <mat-datepicker-toggle matSuffix [for]="hora_saida"></mat-datepicker-toggle>
      <mat-datepicker #hora_saida></mat-datepicker>
   </mat-form-field>

   <div class="mat-form-field">
      <mat-checkbox matInput [(ngModel)]="reserva.is_reserva" name="is_reserva">Reserva?</mat-checkbox>
   </div>

   <mat-form-field>
      <mat-label>Observações</mat-label>
      <textarea matInput [(ngModel)]="reserva.obs" name="obs" placeholder="Informe uma descrição para o reserva."
         rows="4"></textarea>
   </mat-form-field>

   <mat-form-field>
      <mat-select placeholder="Selecione a temporada" [(ngModel)]="reserva.tipo_temporada" name="reserva">
          <mat-option *ngFor="let tt of tiposTemporada" [value]="tt._id">
              {{tt.data_inicio | date:'dd/MM/yyyy'}} - {{tt.data_fim | date:'dd/MM/yyyy'}}
          </mat-option>
      </mat-select>
  </mat-form-field>

   <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>

<ng-container *ngIf="reserva._id">
   <hr>

   <!-- Listagem de itens da venda, recebendo como parâmetro qual a venda
      cujos itens serão exibidos -->
   <app-hospede-list [reserva]="reserva._id"></app-hospede-list>

   <hr>

   <app-item-servico-list [ngClass]="{'invisible': isreserva}" [reserva]="reserva._id"></app-item-servico-list>
</ng-container>